{% extends 'navigation.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMTM2juH24FTtYSJDMjQIul8BIYzvu8TNugg&usqp=CAU"
             alt="" width="250" height="200"
             class="d-inline-block align-text-top">

    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <h1>John Marks</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <h5><u>E-mail:</u> John@mail.com</h5>
            <h5><u>Number:</u> +359 876481304</h5>
            <h5><u>Date of Birth:</u> 03.05.1976</h5>
            <h5><u>Gender:</u> Male</h5>
            <h5><u>Hotels:</u> 1</h5>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <button type="button" class="btn btn-dark">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
{% endblock %}