{% extends 'navigation.html' %}
{% block content %}
    <div class="text-center">
        {% if user %}
            <h1>Hello {{ user.user.first_name }}</h1>
        {% else %}
            <h1>Welcome Hotelier</h1>
        {% endif %}
        <hr>
        <a class="btn btn-lg btn-dark" href="{% url 'hotel create' request.user.id %}">Add Hotel</a>
    </div>
    <hr style="height: 75px">
    {#  If There are Hotels : #}
    {% if hotel %}
        <div class="container mb-5">
            <div class="row mb-5">
                {% for h in hotel %}
                    <div class="card ml-3 mb-3" style="width: 25rem;margin: 20px">
                        <a href="{% url 'hotel details' h.id %}"><img class="card-img-top"
                                                                      src="{{ hotel.photo }}" alt="Card image cap"></a>
                        <div style="background: gray" class="card-body">
                            <h5 class="card-title">{{ h.name }}</h5>
                            <p class="card-text">Stars: {{ h.stars }}</p>
                            <div class="col-md-12 text-center">
                                <a href="#" class="btn btn-dark">Manage</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <h1>No Hotels Yet</h1>
        </div>
    {% endif %}
{% endblock %}