{% extends 'navigation.html' %}
{% block content %}
    <h1>Hotel Gallery Page</h1>
    {% if photos %}
        <div class="container mb-5">
            <div class="row mb-5">
                {% for p in photos %}
                    <div class="card ml-3 mb-3" style="width: 200px;margin: 20px">
                        <img class="card-img-top" src="{{ p.photo.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <h1>No Photos Yet</h1>
        </div>
    {% endif %}
{% endblock %}