{% extends 'navigation.html' %}
{% block content %}
    {% if photos %}
        <div class="container mb-5">
            <div class="row mb-5">
                {% for p in photos %}
                    <div class="card ml-3 mb-3" style="width: 200px;margin: 20px">
                        <img class="card-img-top" src="{{ p.photo.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <a style="text-align: center" class="btn btn-lg btn-dark" href="{% url 'add photo' request.user.id %}">Add
                more photos</a>
        </div>
    {% else %}
        <div class="text-center">
            <h1>No Photos Yet</h1>
            <a class="btn btn-lg btn-dark" href="{% url 'add photo' request.user.id %}">Add a photo</a>
        </div>
    {% endif %}
{% endblock %}